<footer id="footer">
	<div class="inner">
		<div class="footer-note">
			<span>Terms of Use | Installation & Uninstallation  Playing for more</span>
			Playing for more than 180 minutes a day may affect your health.
		</div>
	</div>
</footer>

<div class="float-right">
	<div class="float-right__menu pc">
		<img src="<%= RELATIVE_PATH %>img/bg-menu.png" alt="bg">
		<div class="float-right__menu-option">
			<div class="float-right__menu-option-item --01">
				<img src="<%= RELATIVE_PATH %>img/close-menu.png" alt="img" class="img-01">
				<img src="<%= RELATIVE_PATH %>img/close-menu-hv.png" alt="img" class="img-02">
			</div>
			<div class="float-right__menu-option-item --02">
				<img src="<%= RELATIVE_PATH %>img/open-menu.png" alt="img" class="img-01">
				<img src="<%= RELATIVE_PATH %>img/open-menu-hv.png" alt="img" class="img-02">
			</div>
		</div>
		<div class="float-right__menu-block">
			<a href="" class="float-right__menu-logo">
				<img src="<%= RELATIVE_PATH %>img/menu-baner.png" alt="img">
			</a>
			<ul class="float-right__menu-nav">
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/menu-07.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/menu-07-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/menu-08.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/menu-08-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/menu-09.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/menu-09-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/menu-10.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/menu-10-hv.png" alt="img" class="img-02">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<a href="" class="float-right__top js-backtop">
		<img src="<%= RELATIVE_PATH %>img/backtop.png" alt="Top" class="img-01">
		<img src="<%= RELATIVE_PATH %>img/backtop-hv.png" alt="Top" class="img-02">
	</a>
</div>
