<header id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/logo.png" alt="Jx2Reborn">
	</a>
	<nav class="header-nav">
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="" class="c-btn__img">
					<img src="<%= RELATIVE_PATH %>img/menu-01.png" alt="NEWS" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/menu-01-hv.png" alt="NEWS" class="img-02">
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="" class="c-btn__img">
					<img src="<%= RELATIVE_PATH %>img/menu-02.png" alt="EVENT" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/menu-02-hv.png" alt="EVENT" class="img-02">
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="" class="c-btn__img">
					<img src="<%= RELATIVE_PATH %>img/menu-03.png" alt="FEATURE" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/menu-03-hv.png" alt="FEATURE" class="img-02">
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="" class="c-btn__img">
					<img src="<%= RELATIVE_PATH %>img/menu-04.png" alt="GUIDES" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/menu-04-hv.png" alt="GUIDES" class="img-02">
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="" class="c-btn__img">
					<img src="<%= RELATIVE_PATH %>img/menu-05.png" alt="COMMUNITY" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/menu-05-hv.png" alt="COMMUNITY" class="img-02">
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="" class="c-btn__img">
					<img src="<%= RELATIVE_PATH %>img/menu-06.png" alt="HOTLINE" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/menu-06-hv.png" alt="HOTLINE" class="img-02">
				</a>
			</li>
		</ul>
		<ul class="header-nav__sns sp">
			<li>
				<a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/icon-11.png" alt="img"></a>
			</li>
			<li>
				<a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/icon-12.png" alt="img"></a>
			</li>
			<li>
				<a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/icon-13.png" alt="img"></a>
			</li>
			<li>
				<a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/icon-14.png" alt="img"></a>
			</li>
		</ul>
	</nav>
	<ul class="header-btn sp">
		<li>
			<a href=""><img src="<%= RELATIVE_PATH %>img/btn-12.png" alt="img"></a>
		</li>
		<li>
			<a href=""><img src="<%= RELATIVE_PATH %>img/btn-13.png" alt="img"></a>
		</li>
	</ul>
	<span class="js-mobile">
		<span></span>
	</span>

</header>