<section class="sec-mv">
	<div class="mv-video">
		<img src="<%= RELATIVE_PATH %>img/bg-01.png" alt="Jx2Reborn" class="pc">
		<img src="<%= RELATIVE_PATH %>img/bg-01-sp.jpg" alt="Jx2Reborn" class="sp">
	</div>
	<div class="mv-block">
		<h1 class="mv-block__heading">
			<img src="<%= RELATIVE_PATH %>img/mv-heading.png" alt="Jx2Reborn">
		</h1>
		<div class="mv-block__play js-popup-02">
			<img src="<%= RELATIVE_PATH %>img/play.png" alt="play">
		</div>
		<ul class="mv-block__option">
			<li class="mv-block__option-item">
				<a href="" class="c-btn__img js-popup-ct">
					<img src="<%= RELATIVE_PATH %>img/btn-01.png" alt="Alpha test info" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-01-hv.png" alt="Alpha test info" class="img-02">
				</a>
			</li>
			<li class="mv-block__option-item">
				<a href="" class="c-btn__img js-popup-01">
					<img src="<%= RELATIVE_PATH %>img/btn-02.png" alt="Register now" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-02-hv.png" alt="Register now" class="img-02">
				</a>
			</li>
		</ul>
	</div>
</section>

<section class="sec-gif">
	<div class="inner">
		<h2 class="heading-block">
			<img src="<%= RELATIVE_PATH %>img/heading-02.png" alt="Wulin treasures" >
		</h2>
		<div class="heading-note">
			<span>Players Joined the Realm</span>
			<div class="heading-note__btn">56789</div>
		</div>
		<div class="gif-block">
			<img src="<%= RELATIVE_PATH %>img/block-02.png" alt="Wulin treasures" class="pc">
			<img src="<%= RELATIVE_PATH %>img/block-02-sp.png" alt="Wulin treasures" class="sp">
			<div class="gif-block__show">
				<ul class="gif-block__list">
					<li class="gif-block__list-item">
						<img src="<%= RELATIVE_PATH %>img/item-02.png" alt="img">
						<span>10,000</span>
					</li>
					<li class="gif-block__list-item">
						<img src="<%= RELATIVE_PATH %>img/item-03.png" alt="img">
						<span>20,000</span>
					</li>
					<li class="gif-block__list-item">
						<img src="<%= RELATIVE_PATH %>img/item-04.png" alt="img">
						<span>30,000</span>
					</li>
					<li class="gif-block__list-item">
						<img src="<%= RELATIVE_PATH %>img/item-05.png" alt="img">
						<span>60,000</span>
					</li>
				</ul>
				<div class="gif-block__other">
					<img src="<%= RELATIVE_PATH %>img/item-06.png" alt="img" class="pc">
					<img src="<%= RELATIVE_PATH %>img/item-06-sp.png" alt="img" class="sp">
					<span>100,000</span>
				</div>
			</div>

		</div>
	</div>
</section>
<section class="sec-class">
	<div class="inner">
		<h2 class="heading-block">
			<img src="<%= RELATIVE_PATH %>img/heading-03.png" alt="Class">
		</h2>
		<div class="class-gallery">
			<ul class="class-gallery__for">
				<li class="class-gallery__for-item">
					<div class="class-gallery__for-block">
						<div class="class-gallery__for-img --01">
							<img src="<%= RELATIVE_PATH %>img/nv1.png" alt="img" class="pc">
							<img src="<%= RELATIVE_PATH %>img/nv1-sp.png" alt="img" class="sp">
						</div>
						<div class="class-gallery__for-ct">
							<ul class="class-gallery__for-status js-tab1">
								<li class="active"><span>Shaolin Martial</span></li>
								<li><span>Shaolin Zen</span></li>
								<li><span>Shaolin Commoner</span></li>
							</ul>
							<ul class="class-gallery__for-tab content-tab1">
								<li class="active">
									<div class="class-gallery__for-note">
										<p>
											Quyền cước nội công, <span>tuyệt học</span> Vô Ảnh Cước,<br>
											Như Lai Thần Chưởng,..
										</p>
									</div>
									<div class="class-gallery__for-video">
										<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
									</div>
								</li>
								<li>
									<div class="class-gallery__for-note">
										<p>
											textttttt
										</p>
									</div>
									<div class="class-gallery__for-video">
										<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
									</div>
								</li>
								<li></li>
							</ul>

						</div>
					</div>
				</li>
				<li class="class-gallery__for-item">
					<div class="class-gallery__for-block">
						<div class="class-gallery__for-img --02">
							<img src="<%= RELATIVE_PATH %>img/nv2.png" alt="img" class="pc">
							<img src="<%= RELATIVE_PATH %>img/nv2-sp.png" alt="img" class="sp">
						</div>
						<div class="class-gallery__for-ct">
							<ul class="class-gallery__for-status js-tab2">
								<li><span>Yang Clan Archer </span></li>
								<li class="active"><span>Yang Clan Spear</span></li>
							</ul>
							<ul class="class-gallery__for-tab content-tab2">
								<li class="active">
									<div class="class-gallery__for-note">
										<p>
											Quyền cước nội công, <span>tuyệt học</span> Vô Ảnh Cước,<br>
											Như Lai Thần Chưởng,..
										</p>
									</div>
									<div class="class-gallery__for-video">
										<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
									</div>
								</li>
								<li></li>
							</ul>

						</div>
					</div>
				</li>
				<li class="class-gallery__for-item">
					<div class="class-gallery__for-block">
						<div class="class-gallery__for-img --03">
							<img src="<%= RELATIVE_PATH %>img/nv3.png" alt="img" class="pc">
							<img src="<%= RELATIVE_PATH %>img/nv3-sp.png" alt="img" class="sp">
						</div>
						<div class="class-gallery__for-ct">
							<ul class="class-gallery__for-status js-tab3">
								<li class="active"><span>Chui Yan Dancer </span></li>
								<li><span >Chui Yan Flute</span></li>
							</ul>
							<ul class="class-gallery__for-tab content-tab3">
								<li class="active">
									<div class="class-gallery__for-note">
										<p>
											Quyền cước nội công, <span>tuyệt học</span> Vô Ảnh Cước,<br>
											Như Lai Thần Chưởng,..
										</p>
									</div>
									<div class="class-gallery__for-video">
										<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
									</div>
								</li>
								<li></li>
							</ul>

						</div>
					</div>
				</li>
				<li class="class-gallery__for-item">
					<div class="class-gallery__for-block">
						<div class="class-gallery__for-img --04">
							<img src="<%= RELATIVE_PATH %>img/nv4.png" alt="img" class="pc">
							<img src="<%= RELATIVE_PATH %>img/nv4-sp.png" alt="img" class="sp">
						</div>
						<div class="class-gallery__for-ct">
							<ul class="class-gallery__for-status js-tab4">
								<li  class="active"><span>Beggar Fist </span></li>
								<li><span>Beggar Cane</span></li>
							</ul>
							<ul class="class-gallery__for-tab content-tab4">
								<li class="active">
									<div class="class-gallery__for-note">
										<p>
											Quyền cước nội công, <span>tuyệt học</span> Vô Ảnh Cước,<br>
											Như Lai Thần Chưởng,..
										</p>
									</div>
									<div class="class-gallery__for-video">
										<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
									</div>
								</li>
								<li></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="class-gallery__for-item">
					<div class="class-gallery__for-block">
						<div class="class-gallery__for-img --05">
							<img src="<%= RELATIVE_PATH %>img/nv5.png" alt="img" class="pc">
							<img src="<%= RELATIVE_PATH %>img/nv5-sp.png" alt="img" class="sp">
						</div>
						<div class="class-gallery__for-ct">
							<ul class="class-gallery__for-status js-tab5">
								<li class="active"><span>Kunlun Sky Man </span></li>
								<li><span >Kunlun Sword</span></li>
							</ul>
							<ul class="class-gallery__for-tab content-tab5">
								<li class="active">
									<div class="class-gallery__for-note">
										<p>
											Quyền cước nội công, <span>tuyệt học</span> Vô Ảnh Cước,<br>
											Như Lai Thần Chưởng,..
										</p>
									</div>
									<div class="class-gallery__for-video">
										<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
									</div>
								</li>
								<li></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="class-gallery__for-item">
					<div class="class-gallery__for-block">
						<div class="class-gallery__for-img --06">
							<img src="<%= RELATIVE_PATH %>img/nv6.png" alt="img" class="pc">
							<img src="<%= RELATIVE_PATH %>img/nv6-sp.png" alt="img" class="sp">
						</div>
						<div class="class-gallery__for-ct">
							<ul class="class-gallery__for-status js-tab6">
								<li class="active"><span >Ming Clan Blade </span></li>
								<li><span>Ming Clan Claw</span></li>
								<li><span>Ming Clan Brush</span></li>
							</ul>
							<ul class="class-gallery__for-tab content-tab6">
								<li class="active">
									<div class="class-gallery__for-note">
										<p>
											Quyền cước nội công, <span>tuyệt học</span> Vô Ảnh Cước,<br>
											Như Lai Thần Chưởng,..
										</p>
									</div>
									<div class="class-gallery__for-video">
										<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
									</div>
								</li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="class-gallery__for-item">
					<div class="class-gallery__for-block">
						<div class="class-gallery__for-img --07">
							<img src="<%= RELATIVE_PATH %>img/nv7.png" alt="img" class="pc">
							<img src="<%= RELATIVE_PATH %>img/nv7-sp.png" alt="img" class="sp">
						</div>
						<div class="class-gallery__for-ct">
							<ul class="class-gallery__for-status js-tab7">
								<li class="active"><span >WuDang Sword</span></li>
								<li><span>WuDang Brush</span></li>
							</ul>
							<ul class="class-gallery__for-tab content-tab7">
								<li class="active">
									<div class="class-gallery__for-note">
										<p>
											Quyền cước nội công, <span>tuyệt học</span> Vô Ảnh Cước,<br>
											Như Lai Thần Chưởng,..
										</p>
									</div>
									<div class="class-gallery__for-video">
										<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
									</div>
								</li>
								<li></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="class-gallery__for-item">
					<div class="class-gallery__for-block">
						<div class="class-gallery__for-img --08">
							<img src="<%= RELATIVE_PATH %>img/nv8.png" alt="img" class="pc">
							<img src="<%= RELATIVE_PATH %>img/nv8-sp.png" alt="img" class="sp">
						</div>
						<div class="class-gallery__for-ct">
							<ul class="class-gallery__for-status js-tab8">
								<li  class="active"><span>Five Poison Parasiter</span></li>
								<li><span>Five Poison Wicked</span></li>
							</ul>
							<ul class="class-gallery__for-tab content-tab8">
								<li class="active">
									<div class="class-gallery__for-note">
										<p>
											Quyền cước nội công, <span>tuyệt học</span> Vô Ảnh Cước,<br>
											Như Lai Thần Chưởng,..
										</p>
									</div>
									<div class="class-gallery__for-video">
										<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
									</div>
								</li>
								<li></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="class-gallery__for-item">
					<div class="class-gallery__for-block">
						<div class="class-gallery__for-img --09">
							<img src="<%= RELATIVE_PATH %>img/nv9.png" alt="img" class="pc">
							<img src="<%= RELATIVE_PATH %>img/nv9-sp.png" alt="img" class="sp">
						</div>
						<div class="class-gallery__for-ct">
							<ul class="class-gallery__for-status js-tab9">
								<li class="active"><span > Emei Sword</span></li>
								<li><span > Emei Zither</span></li>
							</ul>
							<ul class="class-gallery__for-tab content-tab9">
								<li class="active">
									<div class="class-gallery__for-note">
										<p>
											Quyền cước nội công, <span>tuyệt học</span> Vô Ảnh Cước,<br>
											Như Lai Thần Chưởng,..
										</p>
									</div>
									<div class="class-gallery__for-video">
										<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
									</div>
								</li>
								<li></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="class-gallery__for-item">
					<div class="class-gallery__for-block">
						<div class="class-gallery__for-img --10">
							<img src="<%= RELATIVE_PATH %>img/nv10.png" alt="img" class="pc">
							<img src="<%= RELATIVE_PATH %>img/nv10-sp.png" alt="img" class="sp">
						</div>
						<div class="class-gallery__for-ct">
							<ul class="class-gallery__for-status js-tab10">
								<li class="active"><span >Tang Clan Assassin</span></li>
								<li><span>Tang Clan Cut</span></li>
							</ul>
							<ul class="class-gallery__for-tab content-tab10">
								<li class="active">
									<div class="class-gallery__for-note">
										<p>
											Quyền cước nội công, <span>tuyệt học</span> Vô Ảnh Cước,<br>
											Như Lai Thần Chưởng,..
										</p>
									</div>
									<div class="class-gallery__for-video">
										<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
									</div>
								</li>
								<li></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
			<div class="class-gallery__nav--custom">
				<ul class="class-gallery__nav">
					<li class="class-gallery__nav-item">
						<div class="class-gallery__nav-icon c-btn__img">
							<img src="<%= RELATIVE_PATH %>img/icon-01.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-01-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="class-gallery__nav-item">
						<div class="class-gallery__nav-icon c-btn__img">
							<img src="<%= RELATIVE_PATH %>img/icon-02.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-02-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="class-gallery__nav-item">
						<div class="class-gallery__nav-icon c-btn__img">
							<img src="<%= RELATIVE_PATH %>img/icon-03.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-03-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="class-gallery__nav-item">
						<div class="class-gallery__nav-icon c-btn__img">
							<img src="<%= RELATIVE_PATH %>img/icon-04.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-04-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="class-gallery__nav-item">
						<div class="class-gallery__nav-icon c-btn__img">
							<img src="<%= RELATIVE_PATH %>img/icon-05.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-05-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="class-gallery__nav-item">
						<div class="class-gallery__nav-icon c-btn__img">
							<img src="<%= RELATIVE_PATH %>img/icon-06.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-06-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="class-gallery__nav-item">
						<div class="class-gallery__nav-icon c-btn__img">
							<img src="<%= RELATIVE_PATH %>img/icon-07.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-07-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="class-gallery__nav-item">
						<div class="class-gallery__nav-icon c-btn__img">
							<img src="<%= RELATIVE_PATH %>img/icon-08.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-08-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="class-gallery__nav-item">
						<div class="class-gallery__nav-icon c-btn__img">
							<img src="<%= RELATIVE_PATH %>img/icon-09.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-09-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="class-gallery__nav-item">
						<div class="class-gallery__nav-icon c-btn__img">
							<img src="<%= RELATIVE_PATH %>img/icon-10.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-10-hv.png" alt="img" class="img-02">
						</div>
					</li>
				</ul>
			</div>

		</div>
	</div>
</section>
<section class="sec-video">
	<div class="inner">
		<h2 class="heading-block" id="block-05">
			<img src="<%= RELATIVE_PATH %>img/heading-04.png" alt="game features">
		</h2>
		<ul class="video-list">
			<li class="video-list__item">
				<div class="video-list__block">
					<img src="<%= RELATIVE_PATH %>img/video3.jpg" alt="video">
				</div>
			</li>
			<li class="video-list__item">
				<div class="video-list__block">
					<img src="<%= RELATIVE_PATH %>img/video3.jpg" alt="video">
				</div>
			</li>
			<li class="video-list__item">
				<div class="video-list__block">
					<img src="<%= RELATIVE_PATH %>img/video3.jpg" alt="video">
				</div>
			</li>
			<li class="video-list__item">
				<div class="video-list__block">
					<img src="<%= RELATIVE_PATH %>img/video3.jpg" alt="video">
				</div>
			</li>
		</ul>
		<ul class="sns-list">
			<li>
				<a href="" target="_blank" class="c-btn__img">
					<img src="<%= RELATIVE_PATH %>img/btn-06.png" alt="" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-06-hv.png" alt="" class="img-02">
				</a>
			</li>
			<li>
				<a href="" target="_blank" class="c-btn__img">
					<img src="<%= RELATIVE_PATH %>img/btn-07.png" alt="" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-07-hv.png" alt="" class="img-02">
				</a>
			</li>
			<li>
				<a href="" target="_blank" class="c-btn__img">
					<img src="<%= RELATIVE_PATH %>img/btn-08.png" alt="" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-08-hv.png" alt="" class="img-02">
				</a>
			</li>
			<li>
				<a href="" target="_blank" class="c-btn__img">
					<img src="<%= RELATIVE_PATH %>img/btn-09.png" alt="" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-09-hv.png" alt="" class="img-02">
				</a>
			</li>
		</ul>
	</div>
</section>