<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv-page">
		<h1 class="mv-page__ttl">
			<img src="<%= RELATIVE_PATH %>img/heading-news.png" alt="Tin tức võ hiệp" class="pc">
			<img src="<%= RELATIVE_PATH %>img/heading-news-sp.png" alt="Tin tức võ hiệp" class="sp">
		</h1>
	</section>
	<section class="sec-content">
		<div class="inner">
			<ul class="news-heading">
				<li class="news-heading__item">
					<a href="" class="active">TẤT CẢ</a>
				</li>
				<li class="news-heading__item">
					<a href="">TIN TỨC</a>
				</li>
				<li class="news-heading__item">
					<a href="">SỰ KIỆN</a>
				</li>
				<li class="news-heading__item">
					<a href="">HƯỚNG DẪN</a>
				</li>
			</ul>
			<ul class="news-list">
				<li class="news-list__item">
					<a href="">
						<div class="news-list__img">
							<img src="<%= RELATIVE_PATH %>img/news-img-01.png" alt="img" >
						</div>
						<div class="news-list__ct">
							<h3 class="news-list__ct-ttl">
								Bắt đầu trao thưởng Xu & vật phẩm
							</h3>
							<p>
								Giải đấu Bang Hội Tinh Anh 33 rực lửa đã kết thúc, các Bang hội hùng mạnh nhất thiên hạ đã bước lên ngôi vị cao nhất . Nay, để vinh danh các mãnh tướng, góp phần hâm nóng niềm vui chiến thắng, Ban Tổ Chức sẽ tiến hành ....
							</p>
							<time>15/07/2025</time>
							<div class="btn-img">
								<img src="<%= RELATIVE_PATH %>img/btn-xem.png" alt="img"  class="img-01">
								<img src="<%= RELATIVE_PATH %>img/btn-xem-hv.png" alt="img" class="img-02">
							</div>
						</div>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<div class="news-list__img">
							<img src="<%= RELATIVE_PATH %>img/news-img-02.png" alt="img" >
						</div>
						<div class="news-list__ct">
							<h3 class="news-list__ct-ttl">
								Cập nhật điều kiện tham gia 3vs3 & Boss Liên Server

							</h3>
							<p>
								Liên quan đến tính năng 3vs3 Liên Server và Săn Boss Liên Server, Võ Lâm Truyền Kỳ II sẽ cập nhật điều kiện tham gia 3vs3 Liên Server và Săn Boss Liên Server.
							</p>
							<time>15/07/2025</time>
							<div class="btn-img">
								<img src="<%= RELATIVE_PATH %>img/btn-xem.png" alt="img"  class="img-01">
								<img src="<%= RELATIVE_PATH %>img/btn-xem-hv.png" alt="img" class="img-02">
							</div>
						</div>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<div class="news-list__img">
							<img src="<%= RELATIVE_PATH %>img/news-img-03.png" alt="img" >
						</div>
						<div class="news-list__ct">
							<h3 class="news-list__ct-ttl">
								Một số cập nhật quan trọng từ ngày 19/11

							</h3>
							<p>
								Nhằm tối ưu một số tính năng trên giang hồ, Võ Lâm Truyền Kỳ II sẽ tiến hành cập nhật nội dung từ ngày 19/11/2024, quý nhân sĩ vui lòng tham khảo để thuận đường bôn tẩu nhé.
							</p>
							<time>15/07/2025</time>
							<div class="btn-img">
								<img src="<%= RELATIVE_PATH %>img/btn-xem.png" alt="img"  class="img-01">
								<img src="<%= RELATIVE_PATH %>img/btn-xem-hv.png" alt="img" class="img-02">
							</div>
						</div>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<div class="news-list__img">
							<img src="<%= RELATIVE_PATH %>img/news-img-01.png" alt="img" >
						</div>
						<div class="news-list__ct">
							<h3 class="news-list__ct-ttl">
								Bắt đầu trao thưởng Xu & vật phẩm

							</h3>
							<p>
								Giải đấu Bang Hội Tinh Anh 33 rực lửa đã kết thúc, các Bang hội hùng mạnh nhất thiên hạ đã bước lên ngôi vị cao nhất . Nay, để vinh danh các mãnh tướng, góp phần hâm nóng niềm vui chiến thắng, Ban Tổ Chức sẽ tiến hành ....
							</p>
							<time>15/07/2025</time>
							<div class="btn-img">
								<img src="<%= RELATIVE_PATH %>img/btn-xem.png" alt="img"  class="img-01">
								<img src="<%= RELATIVE_PATH %>img/btn-xem-hv.png" alt="img" class="img-02">
							</div>
						</div>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<div class="news-list__img">
							<img src="<%= RELATIVE_PATH %>img/news-img-02.png" alt="img" >
						</div>
						<div class="news-list__ct">
							<h3 class="news-list__ct-ttl">
								Cập nhật điều kiện tham gia 3vs3 & Boss Liên Server

							</h3>
							<time>15/07/2025</time>
							<p>
								Liên quan đến tính năng 3vs3 Liên Server và Săn Boss Liên Server, Võ Lâm Truyền Kỳ II sẽ cập nhật điều kiện tham gia 3vs3 Liên Server và Săn Boss Liên Server.
							</p>
							<div class="btn-img">
								<img src="<%= RELATIVE_PATH %>img/btn-xem.png" alt="img"  class="img-01">
								<img src="<%= RELATIVE_PATH %>img/btn-xem-hv.png" alt="img" class="img-02">
							</div>
						</div>
					</a>
				</li>
			</ul>
			<ul class="pagination">
				<li>
					<a href="" class="pagination-prev__all btn-img disabled ">
						<img src="<%= RELATIVE_PATH %>img/prev-05.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/prev-05-hv.png" alt="img"  class="img-02">
					</a>
				</li>
				<li>
					<a href="" class="pagination-prev__page btn-img disabled ">
						<img src="<%= RELATIVE_PATH %>img/prev-04.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/prev-04-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li><a href="" class="active">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li>
					<a href="" class="pagination-next__page btn-img">
						<img src="<%= RELATIVE_PATH %>img/next-04.png" alt="img"  class="img-01">
						<img src="<%= RELATIVE_PATH %>img/next-04-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="" class="pagination-next__all btn-img">
						<img src="<%= RELATIVE_PATH %>img/next-05.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/next-05-hv.png" alt="img" class="img-02">
					</a>
				</li>
			</ul>
		</div>
	</section>
</main>